.info-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 410px;
  border-radius: var(--radius-lg);
  overflow: hidden;
  user-select: none;
}

.info-card .thumbnail {
  position: relative;
  height: 65%;
}

.info-card .thumbnail .content-overlay {
  display: flex;
  height: 100%;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.info-card .thumbnail .content-overlay .label.gray {
  --contents-color: var(--gray-700);
  --background-color: var(--gray-100);
}
.info-card .thumbnail .content-overlay .label.green {
  --contents-color: var(--green-700);
  --background-color: var(--green-100);
}
.info-card .thumbnail .content-overlay .label.blue {
  --contents-color: var(--blue-700);
  --background-color: var(--blue-100);
}
.info-card .thumbnail .content-overlay .label.yellow {
  --contents-color: var(--yellow-700);
  --background-color: var(--yellow-100);
}
.info-card .thumbnail .content-overlay .label.red {
  --contents-color: var(--red-700);
  --background-color: var(--red-100);
}
.info-card .thumbnail .content-overlay .label {
  --contents-color: var(--steelblue-700);
  --background-color: var(--steelblue-100);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2xs);
  margin: 16px;
  margin-left: auto;
  padding: 4px 8px;
  width: fit-content;
  font-size: var(--font-size-2xs);
  font-weight: bold;
  border-radius: 999999px;
  background: var(--background-color);
  color: var(--contents-color);
  border: 1px solid var(--contents-color);
}
.info-card .thumbnail .content-overlay .label .label-bubble {
  width: 8px;
  height: 8px;
  background: var(--contents-color);
  border-radius: 50%;
}

.info-card .thumbnail .content-overlay h1 {
  color: var(--gray-100);
  font-size: var(--font-size-xl);
  font-weight: bold;
  margin: 16px;
  word-break: keep-all;
}

.info-card .thumbnail img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-card .gradation {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(49, 50, 54, 0) 37%,
    rgba(49, 50, 54, 0.5) 48%,
    #313236 85.5%
  );
}

.info-card .content {
  height: 35%;
  background-color: white;
  padding: 16px;
  font-size: var(--font-size-md);
}
