.example-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100vw;
  height: 100vh;
}

.example-page h1 {
  font-size: 124px;
  color: rebeccapurple;
}

.example-page .hello-world {
  font-size: 24px;
}
